/* --------------------------- Variables-------------------------------
:root{
    --primary--
} */




/* --------------------------- Font Families Links------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&family=Poppins:wght@200;300;400;600;800;900&display=swap');

/* --------------------------- Navbar Section Css------------------------------- */

header {
    background-image: url(/resources/images/banner-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item a{
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    z-index: 111;
    position: relative;
}
button:focus:not(:focus-visible){
    box-shadow: none;
}

.nav-content a::before{
   content: '';
   width: 0%;
   height: 3px;
   position: absolute;
   top: -75px;
   background-color: blue;
   display: block;
}
.nav-content a:hover::before{
    width: 100%;
}
.wrapper{
    position: relative;
    top: 5%;
    background-image: url(/resources/images/layer.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head-nav{
    z-index: 111;
}

/* --------------------------- Banner Section Css------------------------------- */
.banner{
    transition: 300ms;
}
.banner-column{
    z-index: 111;
}
.banner-image{
    position: relative;
}
.sub-title{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height: 35px;
    font-weight: 300;
    color: #0a0909;
}
.content-banner h1{
    font-size: 3.225rem;
    font-family: 'Playfair Display', sans-serif;
    line-height: 78px;
    font-weight: 800;
}

.sub-content{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 32px;
    color: #0a0909;
}
.banner-image{
    margin-top: 3rem;
}
.content-banner a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: darkblue;
    color: #fff;
    transition: 0.4s;
}
.content-banner a:hover{
    color: #fff;
    transform: translate(-1px,-8px);
    -webkit-transform: translate(-1px,-8px);
    -moz-transform: translate(-1px,-8px);
    box-shadow: 0px 7px 24px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 7px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 24px -12px rgba(0,0,0,0.75);
}

.banner-image::after{
    content: '01';
    font-size: 4.5rem;
    bottom: -1px;
    position: absolute;
    left: -148px;
    padding: 26px 33px;
    color: #fff;
    background-color: blue;
}
.banner-image::before{
    content: 'SALE UPTO 35%';
    position: absolute;
    bottom: 82px;
    font-family: 'Robotto', sans-serif;
    right: -34px;
    color: #000;
    writing-mode: vertical-rl;
}
.bannerslide-btn{
    margin-left: 79%;
}
.bannerslide-btn .slide-btn{
    border-right: 1px solid #000;
}
.bannerslide-btn a{
    color: #fff;
    transition: 0.4s;
}
.bannerslide-btn a:hover{
    color: rgb(199, 193, 111);
}
/* --------------------------- Products Section Css------------------------------- */

.img-grid h1{
    font-size: 1.5rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    position: relative;
    top: -60px;
    left: 30px;
    color: #fff;
}


/* --------------------------- Popular Products Section Css------------------------------- */


.card{
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: relative;
    
}
.card-tap{
    background-color: #f4f4f4;
    transition: 0.6s;
}
.card-tap:hover{
    background-color: #fff;
}
.card:hover{
    transform: translate(-1px,-7px);
    -webkit-transform: translate(-1px,-7px);
    -moz-transform: translate(-1px,-7px);
    box-shadow: 10px 8px 23px -8px rgba(179,165,165,0.75);
    -webkit-box-shadow: 10px 8px 23px -8px rgba(179,165,165,0.75);
    -moz-box-shadow: 10px 8px 23px -8px rgba(179,165,165,0.75);
}
.card-tap::after{
    content: '-10%';
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 10px;
    background-color: rgb(253, 145, 4);
    color: #fff;
    font-weight: 500;
}
.top-icon i:hover{
    background-color: #fff;
    color: rgb(253, 145, 4);
}
.top-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #f4f4f4;
    transition: 0.6s ease-in;
    display: none;
}
.card:hover .top-icon{
    display: flex;
    flex-direction: column;
}
.top-icon i{
    padding: 15px;
}
.head p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.head h1{
    font-size: 2.5rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    color: #000;
    letter-spacing: 2px;
}

.del-text span{
    color: orange;
    margin-left: 10px;
}

.card-icon i{
    font-weight: 400;
    font-size: 10px;
    transition: 0.3s;
}
.card-icon i:hover{
    color: orange;
}

/* --------------------------- therapy section css------------------------------- */
.therapy{
    background-image: url(/resources/images/therapy-discovery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-discovery h1{
    font-size: 4.5rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    line-height: 100px;
}
.content-discovery p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 32px;
}
.content-discovery a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: 0.4s;
}
.content-discovery a:hover{
    color: #fff;
    transform: translate(-1px,-8px);
    -webkit-transform: translate(-1px,-8px);
    -moz-transform: translate(-1px,-8px);
}



/* --------------------------- Deals Section css------------------------------- */


.deal-head p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #0a0909;
}
.deal-head h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #000;
}
.content-head h4{
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 500;
}
.card-mate::after{
    content: '-15%';
    position: absolute;
    padding: 0px 5px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    background-color: darkgoldenrod;
    color: #fff;
    font-weight: 500;
}
.card-mate-change::after{
    content: '-50%';
    position: absolute;
    padding: 0px 5px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    background-color: darkgoldenrod;
    color: #fff;
    font-weight: 500;
}
.card-mate-change::before{
    content: 'Hot';
    position: absolute;
    padding: 0px 10px;
    border-radius: 5px;
    top: 48px;
    left: 10px;
    background-color: darkolivegreen;
    color: #fff;
    font-weight: 500;
}

.content-foot p span{
    color: greenyellow;
}
.content-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;;
    color: white;
    left: 0;
    padding: 0px 13px;
}

/* --------------------------- User Review css------------------------------- */



.review-content h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}
.review-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.review-content h5 span{
    color: green;
    font-weight: 400;
    text-transform: lowercase;
}




/* --------------------------- Fotter Section css------------------------------- */

.end-side{
    background-color: #222222;
}
.footer-text .unorder-list h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 70px;
    color: #fff;
}
.footer-text .unorder-list li{
    list-style: none;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.footer-text .unorder-list li:hover{
    color: #748a53;
    cursor: pointer;
}

.pay-app i{
    margin-left: 30px;
    transition: 0.2s;
    color: #aaa;
}
.pay-app i:hover{
    color: #748a53;
    cursor: pointer;
    transform: translate(-1px,-7px);
    -webkit-transform: translate(-1px,-7px);
    -moz-transform: translate(-1px,-7px);
}
/* --------------------------- Media query css------------------------------- */

@media(max-width:1399px){
    .banner-image{
        margin-top: 110px;
    }
}

@media(max-width:1199px){
    .banner-image{
        margin-top: 174px;
    }
    .banner-image::after {
        left: -115px;
        padding: 16px 17px;
    }
}


@media(max-width:991px){
   
    .banner-image{
        margin-top: 0;
    }
    .content-banner{
        text-align: center;
    }
    
    .banner-image{
        display: flex;
        justify-content: center;
    }
    .banner-image::after,.banner-image::before{
        display: none;
    }
    .grid-row{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .img-grid h1{
        left: 0;
    }
}


@media (max-width:768px){
    .content-banner h1, .content-discovery h1, .deal-head h1, .head h1{
        font-size: 1.5rem;
        line-height: 30px;
    }
    .sub-title, .sub-content, .content-banner a, .content-discovery p, .content-discovery a, .deal-head p, .content-foot p, .head p, .review-content p{
        font-size: 12px;
        line-height: 20px;
    }
    .head, .deal-head {
        text-align: center;
    }
    .content-head h4{
    font-size: 1rem;
    }
    .review-content h5{
        font-size: 0.8rem;
    }
    .responsive{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .img-grid h1{
        font-size: 18px;
    }
    
    .review{
        overflow-x: hidden;
    }
}